.JokeList {
  display: flex;
  width: 80%;
  height: 80%;
}

.JokeList-sidebar {
  background: #9575cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3),
    inset 0 0 25px #7e57c2;
  z-index: 2;
}

.JokeList-title {
  font-size: 4rem;
  margin: 2rem;
  color: white;
  font-weight: 300;
}

.JokeList-title span {
  font-weight: 700;
  letter-spacing: 0;
}

.JokeList-sidebar img {
  width: 50%;
}

.JokeList-jokes {
  height: 90%;
  background: white;
  align-self: center;
  width: 70%;
  overflow: scroll;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.JokeList-spinner {
  color: white;
  text-align: center;
}

.JokeList-getmore {
  font-size: 1.5rem;
  width: 50%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  text-color: white;
  font-weight: 700;
  border: none;
  outline: none;
  margin: 2rem;
  cursor: pointer;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  transition: 100ms ease;
}

.JokeList-getmore:hover {
  transform: translateY(2px);
  box-shadow: none;
}
