.CharList-char img {
  width: 75%;
  filter: grayscale();
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 0.4s filter ease;
}

.CharList-char:hover img {
  filter: none;
}

.CharList-char .underline {
  text-decoration: none;
  border: 4px solid transparent;
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 1.4rem;
  margin: 10px;
  position: relative;
}

.underline::after {
  width: 0%;
  height: 3px;
  display: block;
  background-color: #000;
  content: "";
  position: absolute;
  top: 34px;
  left: 50%;
  transition: left 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
    width 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.CharList-char:hover .underline::after {
  width: 100%;
  top: 34px;
  left: 0;
}
